@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/Cabin-Bold.ttf') format('truetype'), url('../fonts/Cabin-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular.ttf') format('truetype'), url('../fonts/Cabin-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabinsemibold';
    src: url('../fonts/Cabin-SemibBold.ttf') format('truetype'), url('../fonts/Cabin-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinItalic';
    src: url('../fonts/Cabin-Italic.ttf') format('truetype'), url('../fonts/Cabin-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cabin','Gill Sans',Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 14px;
    color: #808080;
    width: auto !important;
    overflow-x: hidden !important;
}

/*slider*/
.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {

	overflow: hidden;
    padding-bottom:10px;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	padding: 10px;
	color: #808080;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	
	border: 1px solid #808080;
    border-radius:5px;
}
#forcecentered{
    overflow:hidden;
}

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }

#clearfix {
    -moz-transform: translateZ(0px) translateX(-2279px);
    -ms-transform: translateZ(0px) translateX(-2279px);
    -o-transform: translateZ(0px) translateX(-2279px);
    -webkit-transform: translateZ(0px) translateX(-2279px);
    transform: translateZ(0px) translateX(-2279px);
    width: 6840px;
}

.w {
    display: block;
    padding: 0 10px;
}

/*.last {
    display: none;
}*/

/*header*/
.logo-bg {
    background-color: #75101E;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.header {
    border-bottom: 2px solid gray;
    min-height: 85px;
    background-color: #75101E;
}

i {
    content: " ";
    padding-right: 15px;
}

.head p {
    padding-top: 30px;
}

.head {
    background-color: white !important;
    min-height: 85px;
}

select {
    border: none;
    background-color: transparent;
}

.head p:last-child {
    text-align: right;
}

/*sidebar*/
.icon-bar {
    background-color: #75101E;
}

#sidebar {
    color: white;
    background-color: #75101E;
    padding: 0;
    min-height: 100vh;
    text-transform: uppercase;
     float: left;
}

.sidebar {
    padding: 0;
}

    #sidebar .collapse.in {
        display: inline;
    }

    #sidebar > .nav > li > a {
        white-space: nowrap;
        overflow: hidden;
    }

#sidebar ul li a {
    color: white;
    padding-left: 2px;
}

/*#sidebar ul li a::before {
         content: " ";
         padding-right: 25px;
     }*/

#sidebar ul li i {
    padding-left: 10px;
    float: left;
}


h2 {
    text-transform: uppercase;
}

.float--right {
    float: right;
}

#sidebar ul li:hover {
    background-color: #8F3642;
    border-right: 10px solid #E17785;
    font-weight: bold;
    color: white;
}

#sidebar .active {
    background-color: #8F3642;
    border-right: 10px solid #E17785;
    font-weight: bold;
    color: white;
}

.nav > li > a:focus {
    background-color: inherit;
}

/*content*/
h3 {
    padding: 15px 0;
}

h4 {
    text-transform: uppercase;
}

h5 {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.overflow-hidden {
    overflow: hidden;
}

#main p i {
    text-align: center;
    padding: 9px;
}

#main .navMin a i {
    padding: 15px;
    background-color: #75101E;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

strong {
    font-size: 40px;
}

.ok::after {
    font-family: 'Glyphicons Halflings';
    content: "\e089";
    position: relative;
    right: 10px;
    top: -3px;
    color: green;
    background-color: #EBE49A;
    border-radius: 50%;
}

.actions {
    padding: 0;
}

.upper {
    text-transform: uppercase;
}

.steps h2 {
    text-align: center;
}

.steps {
    padding: 15px 0;
}

    .steps span.active {
        padding-bottom: 7px;
        border-bottom: 4px solid green;
        font-weight: bold;
    }

    .steps span.inactive {
        color: #DBDBDB;
    }

        .steps span.inactive:hover {
            color: #DBDBDB;
            cursor: default;
        }

    .steps a span:hover {
        cursor: pointer;
        padding-bottom: 15px;
        color: #2f2c2c;
        /*border-bottom:4px solid green;*/
    }

    .steps a span {
        color: gray;
    }

    .steps a:hover {
        text-decoration: none;
    }

.chapter {
    padding-top: 15px;
}
/*content middle*/
.shop {
    background-color: #F5F5F5;
}

    .shop p {
        color: #84807E;
    }
    .mod{
        text-align:right;

    }
.nextf{
    pointer-events:none;
}
.total {
    border: #84754E 1px solid;
    border-radius: 5px;
    color: #84754E;
    padding: 7px;
    background-color: white;
}

.totals strong {
    font-size: 20px;
}

.box {
    background-color: white;
    border: 1px solid #DBDBDB;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn:focus {
    color:#75101E;
    border:2px solid #75101E  ;
    background-color:white;
}
.count {
    color: #84754E;
    background-color: #84754E;
    border-radius: 25px;
    position: relative;
    top: -10px;
    right: 1px;
    /*border:1px solid #1bc60e;*/
    width: 20px;
    height: 20px;
}

.dashed {
    border: 1px dashed #eee;
}

.number {
    color: #EBE49A !important;
    left: 6px;
    position: absolute;
    top: 1px;
}
/*.circle
{
     color:white;
     background-color:white;
}*/
.count::after {
    content: " ";
    position: relative;
    top: -10px;
    right: 1px;
}

.search {
    border: 1px solid #DBDBDB;
    padding-bottom: 15px;
}

    .search select {
        border-bottom: 1px solid #84807E;
    }

    .search b {
        padding: 0;
    }

button {
    padding: 10px;
    background-color: #75101E;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    height: 42px;
}

.ordered {
    background-color: #ddd;
}


button, input:focus {
    outline: none;
}

    button:hover {
        color: #75101E;
        background-color: white;
        border: 1px solid #75101E;
        border-radius: 5px;
    }

.delete, .confirm, .previous {
    margin: 10px;
}

.delete {
    color: #9B9B9B;
    background-color: transparent;
    border: 1px solid #9B9B9B;
}

    .delete:hover {
        color: white;
        background-color: #75101E;
    }


td button {
    text-align: center;
    background-color: #9B9B9B;
}

    td button i {
        padding-right: 0;
    }

    td button:last-child {
        width: 100%;
    }

.select2 {
    width: 100% !important;
}

td input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
}

.products {
    background-color: white;
    border-radius: 5px;
    padding: 0 0 15px 0;
    border: 2px solid white;
    margin-bottom: 15px;
}

.product td:last-child {
    width: 104px;
}

.product:hover {
    background-color: #84754E !important;
    color: white;
}

.product td input {
    text-align: center;
    color: #2f2c2c !important;
}

.piece {
    padding-top: 30px;
    padding-left: 0;
}

.dp {
    padding: 15px;
}

.pt {
    padding-top: 15px;
}

.np {
    padding: 0;
}

.greater {
    font-size: 18px;
    font-weight: bold;
}

.extraInfo {
    padding: 15px;
}

tr th {
    background-color: #EBE49A;
}

.paging {
    float: left;
    border: solid 1px gray;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.arrow, .tot {
    float: left;
    padding: 10px;
    margin: 5px;
}

    .paging:hover, .arrow:hover {
        color: #75101E;
        background-color: white;
        cursor: pointer;
    }

.paging.active {
    background-color: #75101E;
    color: white;
}

.checkout {
    border-top: 1px solid #9B9B9B;
    padding: 15px 0 50px 0;
}
/*modal*/
.modal-header {
    background-color: #EBE49A;
}

.personal {
    background-color: white;
    padding: 2%;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #aaa !important;
    border-radius: 0 !important;
}

.store {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

@media only screen and (max-width: 768px) {

    .head p:last-child {
        text-align: left;
    }


    #sidebar {
        position: fixed;
        top: 0px;
        z-index: 5;
    }

    .navbar-toggle {
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: white;
        z-index: 50;
        border: 1px solid #75101E;
    }
}




html, body {
    height: 100%;
}

.wrapper, .row {
    /*height: 100%;*/
    margin-left: 0;
    margin-right: 0;
}

    .wrapper:before, .wrapper:after,
    .column:before, .column:after {
        content: "";
        display: table;
    }

    .wrapper:after,
    .column:after {
        clear: both;
    }



/*#main {
    padding: 15px;
    left: 0;
}*/

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }

    #main {
        /*width: 1%;*/
        left: 9%;
    }

    #sidebar .visible-xs {
        display: inline !important;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .row-offcanvas-left.active {
        left: 45%;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -45%;
            position: absolute;
            top: 0;
            width: 45%;
        }

    .head {
        left: 9%;
    }
    .navMin{
        display:none;
    }
}


@media screen and (max-width: 992px) {
    .head p:last-child {
        text-align: left;
    }

    .head p {
        padding-top: 10px !important;
    }
}

@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 3%;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -3%;
            position: absolute;
            top: 0;
            width: 3%;
            text-align: center;
            min-width: 42px;
        }

        .row-offcanvas-left.active #main {
            left: 0;
            width: 97%;
        }

    #main {
        left: 0;
    }

    .head {
        left: 0;
    }
}
